<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<script type="text/javascript">
  window.logoImgURL = "<%= image_url('nile.jpg') %>";
  window.cartImgURL = "<%= image_url('cart.jpg') %>";
  window.whiteLogoImgURL = "<%= image_url('nile_white.jpg') %>"
  window.warningImgURL = "<%= image_url('warning.svg') %>"
</script>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<div id="root">
</div>
