<!DOCTYPE html>
<html>
  <head>
    <title>Nile</title>
    <meta name="description" content="A single-page fullstack clone of Amazon." />
    <meta name="title" property="og:title" content="Nile" />
    <meta property="og:type" content="_" />
    <meta name="image" property="og:image" content="https://github.com/SymmetricInDesign/Nile/raw/main/Screenshot%202021-07-16%20093612.png" />
    <meta name="description" property="og:description" content="A single-page fullstack clone of Amazon." />
    <meta name="author" content="Donnie Wombough" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
